@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	nav ul a::after,
	.active::before {
		width: 100%;
		background: linear-gradient(
			to right,
			hsl(136, 65%, 51%),
			hsl(192, 70%, 51%)
		);
		height: 4px;
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
	}
  nav ul a::after {
		display: none;
  }
  .active {
    color: hsl(233, 26%, 24%) !important;
  }
}
